.frame {
  will-change: transform;
  position: relative;
  left: -25vmax;
  top: 0vh;
  animation: xAxis 2s 1 cubic-bezier(0, 0.55, 0.49, 1.25);
  animation-fill-mode: forwards;
}

.portrait {
  will-change: transform;
  width: 21vmax;
  height: 27vmax;
  position: relative;
  top: -25vmax;
  animation: yAxis 2s 1 cubic-bezier(0, 1.04, 0.6, 1.25);
  animation-fill-mode: forwards;  
}

@keyFrames xAxis {
  100% {
    transform: translateX(calc(14.5vmax + 50vw));
  }
}

@keyFrames yAxis {
  100% {
    transform: translateY(calc(23vmax + 15vh));
  }
}