.top-bar {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
}

.top-bar.transparent {
  opacity: .75;
}

.logo {
  width: 325px;
  height: 200px;
  position: fixed;
  top: -68px;
  left: 21px;
  z-index: 9999;
  pointer-events: none; 
}

.drawer {
  div:first-child {
    div {
      margin: 200px 0;
    }
  }
}